In [1]:
#Import the required libraries
import os
import cv2
import numpy as np
import pandas as pd
import pytesseract

#Natural Language Processing libraries
from spacy.matcher import PhraseMatcher
import nltk
import re as re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob import TextBlob

In [2]:
# Importing tesseract from the location
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [3]:
#Testing on one image
img = cv2.imread('./Dataset/Test108.jpg')
gray = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
text = pytesseract.image_to_string(gray, lang='eng')

print(text)

trased on or was the outcome of the perception and attitudes of the audience toward . The
majority believed that portrayal of the LGBT commundy in Indian movies was montly negative,
whale the same in western movies was ponitive und precise. Even though the negative putrayal
‘of the LOOBT themes in Indian cinema was pointed out the improvements that have been made
were ached pod

Following «© the evidence of quotes of the participants for each theme which isthe source of the
discussion,

Accurate portray al in generat
“Gemorally I wenadd sary... they. the portrayal ts gow ~

“See. some LGBT movies are good, amd some are ust chaammna (simply) make for time pass, for
enerisinaent Bat the mes mace with efor and all w labs be gonad ~



old move and wh. it's it's grout becuase the mumber of LGBT monies which really have
LGBT theme and also have some substance in them are very less. and even though they are
ess... 1h they are goo ~



‘The current theme refers to the accurste portrayal of the LGBT community in movies. Some
Participants stated that efforts of movies to make the actual depiction of the LOBT life was
paying off hecause they were ampron ing an beth content and portrayal

Inaccurate portray al tn Indian me vies

“Wear re speaking ast Indian moves the are mot at all accra became they ave mies
what LGBTQ means”

tm thes Keanmends film she be tihimg that wermuan tat sumdchemts che likes that guy Bt s (ihe hem
cam she do that? When you're krving like. that other girl all of a sudden she ges away and
saachdenly yom Tl te Bike within seconds you Tl like that guy How ts that ever promsitble”~

In [4]:
import cv2
import os
import glob
img_dir = 'C:/Users/kanum/Desktop/Data_Science_Everyday/Hackathons/Love is Love/Dataset' # Enter Directory of all images 
data_path = os.path.join(img_dir,'*g')
files = glob.glob(data_path)
data = []
filename = []
for f1 in files:
    file = os.path.basename(f1)
    filename.append(file)
    img = cv2.imread(f1)
    gray = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY) #converting to gray image
    gray_rm = cv2.medianBlur(gray,5) #removing noise
    text = pytesseract.image_to_string(img_cont, lang='eng')
    data.append(text)

In [5]:
inp = pd.DataFrame()
inp['Filename'] = filename
inp['text'] = data
inp.head(5)

       Filename text
0   Test100.jpg
1  Test1001.jpg
2  Test1012.jpg
3  Test1022.jpg
4   Test103.jpg

I have extracted text from the images, we have performed OCR on images(I didn't preprocess the images yet). Now I can start performing Natural Language Processing on the extracted text.For extracting sentiment from the text I am implementing VADAR (Valence Aware Dictionary and sEntiment Reasoner)

__VADER provides a positive, negative, and neutral sentiment scalar, as well as a compound sentiment vector that combines the three__

In [6]:
analyzer = SentimentIntensityAnalyzer()

def clean_text(text):
    return ' '.join(re.sub('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)', ' ', text).split())

inp["text"] = inp['text'].apply(lambda x: clean_text(x))
inp

def analyze_sentiment(text):
    analysis = TextBlob(text)
    
    if analysis.sentiment.polarity > 0:
        return 'Positive'
    elif analysis.sentiment.polarity ==0:
        return 'Neutral'
    else:
        return 'Negative'

inp["Category"] = inp["text"].apply(lambda x: analyze_sentiment(x))

inp

         Filename text Category
0     Test100.jpg       Neutral
1    Test1001.jpg       Neutral
2    Test1012.jpg       Neutral
3    Test1022.jpg       Neutral
4     Test103.jpg       Neutral
..            ...  ...      ...
234   Test945.jpg       Neutral
235   Test946.jpg       Neutral
236   Test957.jpg       Neutral
237   Test979.jpg       Neutral
238   Test993.jpg       Neutral

[239 rows x 3 columns]

In [7]:
submission = inp.drop(['text'],axis = 1)
submission = submission.replace(['old value'],'new value')
submission['Category'] = submission['Category'].replace(['Neutral'],'Random')
submission

         Filename Category
0     Test100.jpg   Random
1    Test1001.jpg   Random
2    Test1012.jpg   Random
3    Test1022.jpg   Random
4     Test103.jpg   Random
..            ...      ...
234   Test945.jpg   Random
235   Test946.jpg   Random
236   Test957.jpg   Random
237   Test979.jpg   Random
238   Test993.jpg   Random

[239 rows x 2 columns]

In [8]:
submission.to_csv("submission2.csv",index = False)