In [1]:
#Importing basic libraries
import pandas as pd
import numpy as np
#Import visualization libraries
import seaborn as sns
from matplotlib import pyplot
import matplotlib.pyplot as plt

In [3]:
#Read the training datasets
train = pd.read_csv('Train.csv')
pd.set_option('display.max_columns', None)
train.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,Low_Cap_Price,High_Cap_Price
0,IT_1,2007-07-05,0,0,0,0,0.5,2785,4240
1,IT_2,2007-07-05,0,1,0,0,0.7,3574,4756
2,IT_3,2007-07-05,0,103,0,1,1.6,5978,9669
3,IT_4,2007-07-05,0,103,0,0,0.0,5681,8313
4,IT_5,2007-07-05,0,103,0,2,0.0,4924,7257

In [5]:
train.isnull().sum()

Item_Id             0
Date                0
State_of_Country    0
Market_Category     0
Product_Category    0
Grade               0
Demand              0
Low_Cap_Price       0
High_Cap_Price      0
dtype: int64

In [7]:
X= train.drop(['Item_Id','Low_Cap_Price'],axis =1)
y = train.Low_Cap_Price

In [8]:
X = pd.get_dummies(X)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size =0.3, random_state = 24)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(6858, 1076)
(6858,)
(2940, 1076)
(2940,)

In [10]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth = 10,min_samples_leaf= 4)
dt.fit(X_train,Y_train)
predict = dt.predict(X_test)

In [11]:
from sklearn.metrics import mean_squared_error

mean_squared_error(Y_test,predict)

1005759.5013564347

In [12]:
#Read the testing datasets
test = pd.read_csv('Test.csv')
pd.set_option('display.max_columns', None)
test.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,High_Cap_Price
0,IT_265079,2014-01-19,0,3,0,0,0.1,5303
1,IT_265087,2014-01-19,0,268,0,2,1.4,10492
2,IT_265107,2014-01-19,0,320,0,0,13.4,24706
3,IT_265139,2014-01-19,17,358,0,3,5.5,23464
4,IT_265142,2014-01-19,18,23,5,2,0.0,6222

In [13]:
test_data =test.drop(['Item_Id'],axis =1)

In [ ]:
test_predict = dt.predict(test_data)