In [2]:
#Import basic libraries
import pandas as pd
import numpy as np

#Import sklearn modules
import

In [3]:
train = pd.read_csv('train.csv')

In [4]:
#Exploring input data
train.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10M,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27M,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,Varies with device,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,Varies with device,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"

In [10]:
train.describe()

             Rating       Reviews
count  16516.000000  1.651600e+04
mean       4.259646  1.931973e+05
std        0.498968  1.953846e+06
min        1.000000  1.000000e+00
25%        4.090000  1.470000e+02
50%        4.360000  1.890000e+03
75%        4.580000  2.266925e+04
max        5.000000  8.576643e+07