In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [89]:
data = pd.read_csv("train.csv")

In [90]:
data.head(5)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3,2

In [91]:
#Adoption Speed is my target variable lets see the levels of Adoption Speed
data['AdoptionSpeed'].unique()

array([2, 0, 3, 1, 4], dtype=int64)

In [92]:
#There are 5 levels of Adoption 
# 0 is adopted on same day
# 1 in 1 week and so on I want to see what are sentiments for a pet to be adopted and what are the reasons a pet is not adopted for this i will convert my target variable in 0 or 1
data['AdoptionSpeed'] = data['AdoptionSpeed'].apply({1:0, 2:0,3:0,4:1}.get)

In [93]:
data['AdoptionSpeed'].unique()

array([ 0., nan,  1.])

In [94]:
data['AdoptionSpeed'].isnull().sum()

410

In [95]:
#Replacing missing values in AdoptionSpeed with 1
data['AdoptionSpeed'].fillna(1, inplace = True)

In [96]:
data['AdoptionSpeed'].value_counts()

0.0    10386
1.0     4607
Name: AdoptionSpeed, dtype: int64

In [97]:
#Subsetting the orginal data as I just want to understand the setiment from description
data1 = data[['Description', 'AdoptionSpeed']]

In [98]:
data1.head()

                                         Description  AdoptionSpeed
0  Nibble is a 3+ month old ball of cuteness. He ...            0.0
1  I just found it alone yesterday near my apartm...            1.0
2  Their pregnant mother was dumped by her irresp...            0.0
3  Good guard dog, very alert, active, obedience ...            0.0
4  This handsome yet cute boy is up for adoption....            0.0

In [75]:
#0 indicates Adopted 1 indicates Not Adopted
#Modelling to get Sentiment

In [99]:
train_size = 8000
sentences = data1["Description"]
labels = data1["AdoptionSpeed"]

training_sentences = sentences[0:train_size]
training_labels = labels[0:train_size]

validation_sentences = sentences[train_size:]
validation_labels = labels[train_size:]

In [100]:
print(len(training_sentences))
print(len(training_labels))
print(len(validation_sentences))
print(len(validation_labels))

8000
8000
6993
6993

In [101]:
training_sentences_final = str(np.array(training_sentences))
validation_sentences_final = str(np.array(validation_sentences))
training_labels_final = np.array(training_labels)
validation_labels_final = np.array(validation_labels)

In [102]:
#Tokening our sentences
vocab_size = 10000
embedding_dim = 16
max_length = 120
trunc_type = 'post'
oov_tok = "<OOV>"
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

#Declare Tokenizer
tokenizer = Tokenizer(num_words = vocab_size, oov_token = oov_tok)
tokenizer.fit_on_texts(training_sentences_final)
word_index = tokenizer.word_index
sequences = tokenizer.texts_to_sequences(training_sentences_final)
padded = pad_sequences(sequences, maxlen = max_length, truncating = trunc_type)

testing_sequences = tokenizer.texts_to_sequences(validation_sentences_final)
testing_padded = pad_sequences(validation_sentences_final,maxlen = max_length)

ValueError: invalid literal for int() with base 10: '['

In [61]:
training_sentences = str(training_sentences)

In [86]:
training_sentences_final

array(["Nibble is a 3+ month old ball of cuteness. He is energetic and playful. I rescued a couple of cats a few months ago but could not get them neutered in time as the clinic was fully scheduled. The result was this little kitty. I do not have enough space and funds to care for more cats in my household. Looking for responsible people to take over Nibble's care.",
       'I just found it alone yesterday near my apartment. It was shaking so I had to bring it home to provide temporary care.',
       'Their pregnant mother was dumped by her irresponsible owner at the roadside near some shops in Subang Jaya. Gave birth to them at the roadside. They are all healthy and adorable puppies. Already dewormed, vaccinated and ready to go to a home. No tying or caging for long hours as guard dogs. However, it is acceptable to cage or tie for precautionary purposes. Interested to adopt pls call me.',
       ...,
       'Sunny has had been ill treated at birth, the fosterer took very good care of him. We adopted him for nearly 18 months and he has very well living with us, kids likes it very much as he is well behaved, loyal and show determination to protect his master. As we are relocating to other country, we seek kind people to look after him and he can provide protection to you and your home. p/s: if you are sincere to adopt Sunny. I can ferry him to your place, let him settle down, knowing that my place here is a bit out of everywhere.',
       '4/5/ Adorable local mix Persian kitten looking for new home. She is a golden-orange kitten, about 3 months old now. She has beautiful, thick, long hair with big, round, copper colour eyes. She has no flea and was de-wormed on 4th May. She is feeding on kibbles now. She is healthy, very active and playful. She likes jumping around especially between high shelves. She is toilet trained & could be let go at anytime. *RM adoption fee would be paid to Cat Charity Club (CCC) for rescuing stray cats. *Another RM neutering / spaying deposit would be fully refundable once the surgery done. Anyone interested, please call .',
       'Rescued from pound. Abandoned by owner. Very friendly.'],
      dtype=object)